@model QLTHPT.Models.Canbo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Canbo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CbHoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CbHoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CbGioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CbGioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CbDiachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CbDiachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CbNgaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CbNgaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CbCmnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CbCmnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoquanCqMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoquanCqMaNavigation.CqMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhenthuongcbKtcbMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhenthuongcbKtcbMaNavigation.KtcbMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KyluatcbKlcbMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KyluatcbKlcbMaNavigation.KlcbMa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CbMa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
