@model QLTHPT.Models.Monhoc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Monhoc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MhTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MhTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChitietdanhgiaCtdgMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChitietdanhgiaCtdgMaNavigation.CtdgMa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MhMa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
