@model IEnumerable<QLTHPT.Models.Monhoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MhTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChitietdanhgiaCtdgMaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MhTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChitietdanhgiaCtdgMaNavigation.CtdgMa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MhMa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MhMa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MhMa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
