@model QLTHPT.Models.Thoikhoabieu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Thoikhoabieu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanboCbMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanboCbMaNavigation.CbMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HockyHkMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HockyHkMaNavigation.HkMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LopLopMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LopLopMaNavigation.LopMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonhocMhMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonhocMhMaNavigation.MhMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuThuMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuThuMaNavigation.ThuMa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiethocThMaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiethocThMaNavigation.ThMa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TkbMa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
